#dv1{
    background-color: rgb(42, 165, 165);
    width: 60%;
    height: 100px;
    margin: 10px auto;
}
.teste {
    background-color: rgb(233, 91, 10);
    width: 60%;
    height: 100px;
    margin: 10px auto;
}